{% extends 'todo/base.html' %}

{% block content %}
{{error}}
Details


    {{todo.title}}
   <form method="POST">
   {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Save">
   </form>

    <form method="POST" action="{% url 'completetodo' todo.id %}">
   {% csrf_token %}
   
    <input type="submit" value="Complete">
   </form>

    <form method="POST" action="{% url 'deletetodo' todo.id %}">
   {% csrf_token %}
   
    <input type="submit" value="Delete">
   </form>
{% endblock content %}
